In [7]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("student_scores.csv")
df

    Hours  Scores  Pass
0     2.3      18     0
1     5.0      45     1
2     3.2      25     0
3     8.5      72     1
4     3.5      30     0
5     1.5      20     0
6     9.2      88     1
7     5.5      60     1
8     8.3      81     1
9     2.7      25     0
10    7.7      85     1
11    5.9      62     1
12    4.5      41     1
13    3.4      44     1
14    1.1      17     0
15    8.9      95     1
16    2.5      30     0
17    1.9      24     0
18    6.1      67     1
19    7.4      69     1
20    2.7      30     0
21    4.8      54     1
22    3.7      33     0
23    6.8      70     1
24    7.4      85     1

In [ ]:
x = df["Hours"]
y = df["Scores"]
plt.plot(x,y,'o')